.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty {
  width: 100%;
  text-align: center;
  color: var(--color-text);
  font-size: var(--font-weight-semibold);
}

.tags {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacer-xl);
}

.buttons {
  display: flex;
  gap: var(--spacer-xs);
}